* {font-family:arial, sans-serif;}
body {margin:0;background-color:transparent;}

#corpo {
	width:100%;min-width:1000px;height:100%;
}

/* Cabeçalho */
header {
	width:100%;min-width:1000px;height:auto;margin:0 auto;padding:0;
	background-color:transparent;box-shadow:0 0 10px 1px #aaa;
}

#barra_lateral {
	width:250px;height:100%;padding:0 50px;
	background-color:#333;box-shadow:0 0 10px 3px #333;
	position:fixed;top:0;left:-400px;
	z-index:1;
}

#br_tit {
	margin:50px 0 18px 0;padding:0 0 5px 0;
	display:block;
	border-bottom:solid 2px #fff;
	color:#fff;text-transform:uppercase;text-align:left;font-size:18px;
}

.br_item {
	margin:0;padding:5px 0;
	display:block;
	color:#eee;text-transform:capitalize;text-align:left;font-size:17px;
}

.br_item:hover {
	color:#fff;
	transition:all 100ms;
}

.br_item a {
	width:100%;height:100%;
	display:block;
	color:inherit;text-decoration:none;
}

#caixaLogin {
	width:241px;height:46px;margin:0 0 0 0;padding:3px 40px 8px 10px;
	float:left;
	background-color:transparent;border-radius:0 0 100px 0;
}

.itemLogin {
	float:left;margin:0;padding:15px 20px;
	display:block;
	color:#555;text-align:center;text-transform:uppercase;font-size:14px;font-weight:bold;
}

.itemLogin:first-child {
	/*border-right:solid 1px #eee;*/
}

#centro {
	width:1000px;height:auto;margin:0 auto;padding:0;
	/*background-color:#888;*/
}

#logo {
	width:500px;height:120px;margin:0 auto;
	background:transparent url(../img/logo.png) center/100px auto no-repeat;
	border-radius:200px;
	color:#555;text-align:center;line-height:120px;font-size:62px;
}
	
nav {
	width:100%;min-width:1000px;height:50px;margin:0 auto 0 auto;padding:10px 0;
	background-color:#333;
	position:relative;
}

/* Carrinho de Compras */
#carrinho {
	width:100px;height:100px;margin:20px 40px 0 0;
	float:right;
	position:relative;
	background:transparent url(../img/icon/carrinho_compra.png) center/80px no-repeat;
}

#carrinho #cont {
	width:42px;height:42px;
	background-color:#222;
	border-radius:100px;
	position:absolute;top:5px;right:0px;
	color:#fff;text-align:center;line-height:42px;
}

/* Icone de Menu e Pesquisa */
#pesqMenu {
	width:130px;height:50px;margin:0;
	float:left;
	position:absolute;top:10px;left:20px;
	
}

#btnMenu {
	background:transparent url(../img/icon/iconMenu.png) center/25px no-repeat;
}

#btnPesquisa {
	background:transparent url(../img/icon/iconPesquisa.png) center/25px no-repeat;
}

#pesqMenu .item	{
	width:50px;height:50px;
	float:left;
	background-color:transparent;border-radius:100px;
}

#pesqMenu .item:hover {
	cursor:pointer;
	background-color:#888;
	transition:all 200ms;
}

#pesqMenu .item:first-child	{
	margin:0 5px 0 0;
}

#listaMenu {
	width:780px;height:100%;margin:0 auto;padding:0;
	list-style:none;
}

#listaMenu li {
	width:130px;height:50px;padding:0 0 10px 0;
	float:left;
	border-bottom:solid 3px transparent;
	color:#fff;
	transition:all 50ms;
}

#listaMenu li.pag_atual{
	padding:0 0 5px 0;
	border-bottom:solid 3px #f0f0f0;
}

#listaMenu li:hover {
	padding:0 0 7px 0;
	border-bottom:solid 3px #fff;
	transition:all 200ms;
}

#listaMenu li a {
	width:100%;height:100%;
	display:block;
	color:inherit;text-align:center;text-decoration:none;line-height:50px;text-transform:uppercase;font-size:15px;font-weight:bold;
}

/* Slider */
#slider {
	width:100%;height:400px;margin:0 auto;
	background:#e0e0e0 url(../img/onix.jpg) center/100% no-repeat;
	position:relative;
}

.sliderBtn {
	width:60px;height:60px;
	position:absolute;top:170px;
	opacity:0.6;
	background:#f0f0f0 center/100% no-repeat;border-radius:100px;
}

.sliderBtn:hover {
	cursor:pointer;
	opacity:0.9;
	transition:all 100ms;
}

#btnEsquerdo {
	left:25px;
	background-image:url(../img/icon/seta_esquerda.png);
}

#btnDireito	 {
	right:25px;
	background-image:url(../img/icon/seta_direita.png);
}

/* Conteúdo */
#conteudo {
	width:1000px;height:auto;margin:0 auto;padding:50px 0;
	/*outline:solid 1px #ddd;*/background-color:transparent;
}

.titulo {
	margin:10px 0 25px 0;padding:0 0 5px 0;
	clear:both;
	color:#333;text-transform:capitalize;font-weight:normal;font-size:22px;
}

/* Blocos de Produtos */
.caixa_ln {
	width:auto;height:309px;margin:0 0 100px 0;
	/*background-color:#ccc;*/
}

.caixa {
	width:250px;height:auto;margin:0 41px;
	float:left;
	/*background-color:#eee;*/
}

.caixaImg {
	width:250px;height:250px;margin:0;
	background:transparent center/200px no-repeat;border-bottom:solid 1px #ddd;
}

#caixaImg1 {background-image:url(../img/calota.jpg);}
#caixaImg2 {background-image:url(../img/cilindro_bloco.jpg);}
#caixaImg3 {background-image:url(../img/farol.jpg);}
#caixaImg4 {background-image:url(../img/pistao.jpg);}
#caixaImg5 {background-image:url(../img/retrovisor.jpg);}
#caixaImg6 {background-image:url(../img/amortecedor.jpg);}
#caixaImg7 {background-image:url(../img/cabo.jpg);}
#caixaImg8 {background-image:url(../img/filtro_ar.jpg);}
#caixaImg9 {background-image:url(../img/sapata.jpg);}
#caixaImg10 {background-image:url(../img/parafuso.jpg);}
#caixaImg11 {background-image:url(../img/disco.jpg);}
#caixaImg12 {background-image:url(../img/caixa.jpg);}

.caixaInfo {
	width:230px;height:auto;margin:0;padding:10px;
	/*background-color:#ddd;*/
	/*outline:solid 1px #e0e0e0;*/
}

.nome, .preco{
	color:#555;text-align:center;text-transform:capitalize;font-weight:;
	display:block;
}

.nome {
	margin:0 0 5px 0;
}

.preco {
	/*font-weight:bold;*/
}

footer {
	width:100%;min-width:1000px;height:auto;margin:0 auto 0 auto;padding:80px 0 0 0;
	background-color:#333;
}

#rod_centro {
	width:1000px;height:auto;margin:0 auto;
}

#rodContato {
	width:auto;height:100px;
}

.rod_bloco {
	width:250px;height:auto;
	float:left;
	/*outline:solid 1px #000;*/
}

.rod_img {
	width:240px;height:70px;margin:5px;
	background:transparent center/auto 100% no-repeat;
}

#rodBlocoImg1 {background-image:url(../img/icon/email.png);}
#rodBlocoImg2 {background-image:url(../img/icon/telefone.png);}
#rodBlocoImg3 {background-image:url(../img/icon/facebook.png);}
#rodBlocoImg4 {background-image:url(../img/icon/twitter.png);}

.rod_val {
	width:auto;height:auto;margin:5px 0 0 0;
	display:block;
	color:#fff;text-align:center;
}

#rodTexto {
	margin:70px 0 0 0;padding:30px 0;
	color:#fff;text-align:center;font-size:17px;
	border-top:solid 1px #555;
}