#conteudo {
	height:500px;
}

.formText {
	width:400px;margin:10px 0;
	outline:none;
}

.formText:nth-child(3) {
	width:200px;
}

.formTextArea {
	width:500px;height:150px;margin:10px 0;
	resize:none;
	font-size:17px;
}