
.formText {
	width:400px;margin:10px 0;
	outline:none;
}

.formText:nth-child(3) {
	width:200px;
}

.formText:nth-child(4) {
	width:200px;
}


.formTextArea {
	width:500px;height:150px;margin:10px 0;
	resize:none;
	font-size:17px;
}

label.error {
	display: block;
   	color:#ff6666;
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
}