.titPag {
	margin:0;
}

a{

	text-decoration: none;

}

#dtEvento {
	display:block;
	color:#555;line-height:54px;font-size:18px;font-weight:normal;
}

#dtEvento strong {
	color:#333;font-size:20px;font-weight:normal;
}

.eventoItem:first-child {
	margin-top:0;
}

.eventoItem {
	width:600px; height: auto;margin:5px 0;padding:25px 30px;
	background-color: #f0f0f0;
	color:#555;font-weight:bold;
}

.eventoItem:hover {
	opacity: 0.7;
    filter: alpha(opacity=70);
}

.outrosEventos {
	margin:40px 0 10px 0;
	color:#333;font-weight:normal;
}