#detalhePag {
	margin:0;padding:0 20px 10px 20px;
	color:#555;
	border-bottom:solid 1px #aaa;
}

#detalhe {
	width:1000px;height:400px;margin:0 0 55px 0;
	/*background-color:#f0f0f0;*/
}

#detalheEsq, #detalheDir {
	height:100%;
	float:left;
}

#detalheEsq {
	width:400px;
	/*background-color:#ddd;*/
}

#produtoImg {
	width:400px;height:400px;
	background:transparent url(../img/pistao.jpg) center/100% auto no-repeat;
}

#detalheDir {
	width:460px;height:auto;margin:82px 50px;
	/*background-color:#eee;*/
}

.caixaItem {
	width:auto;height:25px;
	margin:0 0 14px 0;
	/*background-color:#f23;*/
}

.item {
	width:100px;height:100%;
	display:block;
	float:left;
	color:#555;text-transform:uppercase;line-height:25px;font-size:15px;
}

.cont {
	width:100px;height:100%;
	display:block;
	float:left;
	color:#444;text-transform:unset;line-height:25px;font-size:21px;	
} 

#desc {
	width:1000px;height:auto;margin:0;
	/*outline:solid 1px #f23;*/
}

#desc h1 {
	color:#333;text-align:left;text-transform:uppercase;font-size:22px;
}

#desc p {
	margin:0 0 20px 0;
}